{% extends "layout.html" %}

{% block content %}
	<main class="about-section">
		<div class="container">
		
		<h2>About Learning Flask</h2>
		<p>This project was designed to help me learn Web/API development using Python and Flask.
			<br>I have been using Python mainly for data cleansing and analysis for the last few months (at the time this page was created) and am very excited to continue expanding my skillset!
		</p>
		<p>If you would like to ask me any</p>

		<div class="section-content">
			<a href="{{ url_for('index') }}" class="btn-secondary">Return to Home</a>
		</div>

		</div>
	</main>
{% endblock %}